/* COLOUR PALETTE */
.--bs-theme-c1 {
  background-color: #f4f6ff;
}
.--bs-theme-c2 {
  background-color: #fbd46d;
}
.--bs-theme-c3 {
  background-color: #4f8a8b;
}
.--bs-theme-c4 {
  background-color: #07031a;
}

#root {
  background-color: #f4f6ff;
  margin-top: 0;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
}

/* CAROUSEL */

.fixed-height {
  height: 30vh;
  display: flex;
  flex-direction: column;
}

.carouselContainer {
  overflow: hidden;
  margin: auto;
  width: 50%;
  height: 50%;
}

.carousel-card {
  width: 70%;
  height: 100%;

  margin: auto;
}

.button {
  background: none;
  padding: 10px 20px;
  margin: 0 10px 0 10px;
  border-radius: 10px;
  border: rgba(0, 0, 0, 0) solid 1px;
  color: #07031a;
}

.button:hover {
  border: 1px solid #fbd46d;
  color: #07031a;
}

.selected {
  background-color: #fbd46d;
}

#header {
  grid-area: 1 / 1 / 2 / 17;
}

#hero {
  grid-area: 2 / 2/ 3 / 15;
}

#fp-carousel {
  grid-area: 3 / 4 / 4 / 15;
}

#carouselButtonContainer {
  grid-area: 3 / 5 / 4 / 5;
  display: flex;
  flex-direction: column;
  gap: 20px;

  align-self: center;
}

#footerDiv {
  grid-area: 5 / 1 / 6 / 17;
  height: 200px;
}
