/* COLOUR PALETTE */
.--bs-theme-c1 {
  background-color: #f4f6ff;
}
.--bs-theme-c2 {
  background-color: #fbd46d;
}
.--bs-theme-c3 {
  background-color: #4f8a8b;
}
.--bs-theme-c4 {
  background-color: #07031a;
}

body {
  margin-top: 0;
}
